  <!-- Navbar -->
  <nav id="menu" class="navbar-inverse">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-danger"><%= link_to 'ONE', pages_one_path  %>  </button>
      <button type="button" class="btn btn-warning"><%= link_to 'TWO', pages_two_path %></button>
      <button type="button" class="btn btn-success"><%= link_to 'THREE', pages_three_path  %></button>
    </div>
</nav>