<h2>pages#two</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil quasi quis sed exercitationem, beatae, culpa maiores, sapiente explicabo provident autem adipisci alias aut molestias nam corporis illum commodi excepturi.</p>

<%= image_tag 'captura.png' %> 

