<h1>pages#two</h1>
<p>Find me in app/views/pages/two.html.erb</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil quasi quis sed exercitationem, beatae, culpa maiores, sapiente explicabo provident autem adipisci alias aut molestias nam corporis illum commodi excepturi.</p>

<%= image_tag 'captura.png' %> 

